<?xml version="1.0" encoding="UTF-8"?>
<widget xmlns     = "http://www.w3.org/ns/widgets"
        xmlns:gap = "http://phonegap.com/ns/1.0"
		id        = "com.goalissimo"
        version   = "2.2.0">
    <name>Goalissimo.Org</name>

    <description>
        Online football manager
    </description>

    <author href="http://www.siplex.net/" email="support@siplex.net">
        SIPLEX Team
    </author>

    <feature name="http://api.phonegap.com/1.0/device" />

    <preference name="orientation"      value="landscape" />
    <preference name="target-device"    value="universal" />
    <preference name="fullscreen"       value="true" />
	
	<gap:splash src="img/splash.jpg" />

    <icon src="icon.png" />
</widget>